@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root {
    --text-font: 'Roboto';
    --font: 'Outfit';
    --text-color: #3E3E3E;
    --background-color: #FBF3D5;
    --primary-color: #EFBC9B;
    --secondary-color: #D6DAC8;
    --terziary-color: #9CAFAA;
}

body {
    background-color: var(--background-color);
    font-family: var(--text-font);
    color: var(--text-color);
}

h1, h2, h3{
    font-family: var(--font);
    color: var(--primary-color);
    font-weight: normal;
}

#navbar {
    color: var(--terziary-color);
    font-family: var(--font);
    margin-top: 30px;
}

.input-field {
    z-index: 1; 
    border: 1px; 
    background-color: var(--background-color);
}

.btn {
    color: white; 
    width: fit-content; 
    background-color: var(--terziary-color);
}

.form-btn {
    padding-top: 13px; 
    margin-left: auto; 
    margin-right: 1em;
    position: relative; top: -18px;
}
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
}

.list-container {
    flex: 1;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.add-item-form {
    display: grid;
    align-items: flex-start;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.delete-button {
    padding: 2px 5px;
    background-color: #ff6666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e04b4b;
}

.btn {
    padding: 8px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #ff4d4d;
} */