{% extends 'lists/base.html' %}
{% block content %}
  <h1 style="text-align: center">list: {{ list.name }}</h1>
  <div class="row column-gap-1">
    <div class="col-7 offset-1 rounded"
         style="background-color: var(--terziary-color);
                padding-top: 10px;
                padding-bottom: 10px">
      {% if list.item_set.all|length > 0 %}
        <ul id="item-list" class="list-group list-group-flush">
          {% for item in list.item_set.all %}
            <li class="list-group-item"
                style="border-style: none;
                       background-color: var(--terziary-color)">
              <div style="display: flex; align-items: end" ;>
                {% if item.link %}
                  <a href="{{ item.link }}">{{ item.name }}</a>
                {% else %}
                  <a>{{ item.name }}</a>
                {% endif %}
                <div style="flex-grow: 1"></div>
                <form class="delete-item-form"
                      action="{% url 'lists:delete_item' list.id %}"
                      method="post">
                  <input type="hidden"
                         id="delete_item{{ forloop.counter }}"
                         name="item"
                         value="{{ item.id }}" />
                  {% csrf_token %}
                  <input class="btn"
                         type="submit"
                         value="x"
                         style="background-color: var(--secondary-color);
                                width: auto;
                                padding: 1px 5px 1px 5px" />
                </form>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No items yet. Add one!</p>
      {% endif %}
    </div>
    <div class="col-3 d-flex flex-column row-gap-2">
      <div class="rounded"
           style="background-color: var(--secondary-color);
                  padding: 10px">
        <form class="add-item-form d-flex flex-column"
              action="{% url 'lists:create_item' list.id %}"
              method="post">
          <div style="margin: 4px; color: black; font-family: var(--font)">add new item</div>
          {% csrf_token %}
          <input class="form-control-sm shadow-none input-field"
                 type="text"
                 id="item_name"
                 name="item_name"
                 maxlength="100"
                 placeholder="item name"
                 style="position: relative;
                        top: -7px" />
          <div style="height: 2px"></div>
          <input class="form-control-sm shadow-none input-field"
                 type="text"
                 id="item_link"
                 name="item_link"
                 maxlength="255"
                 placeholder="item link" />
          <input class="btn form-btn"
                 type="submit"
                 style="top: -16px"
                 value="add item" />
        </form>
      </div>
      <div class="rounded"
           style="background-color: var(--secondary-color);
                  padding: 10px">
        <button class="btn" onclick="pickRandomItem();">pick random item</button>
        <div class="p-1"
             style="display: none;
                    text-align: center"
             id="random-item"></div>
      </div>
    </div>
    <script type="text/javascript">
        function pickRandomItem() {
            var ul = document.getElementById("item-list");
            var listItems = ul.getElementsByTagName("li");
            randomIndex = Math.floor(Math.random() * listItems.length);
            let randomItem = document.getElementById("random-item");
            randomItem.style.display = "block";
            randomItem.textContent = listItems[randomIndex].innerText;
        }
    </script>
  {% endblock %}
