<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{list.name}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lists/style.css' %}">
</head>

<body>
    <h1>List: {{list.name}}</h1>
    <div class="container">
        <div class="list-container">
            <ul id="item-list">
                {% for item in list.item_set.all %}
                <li>
                    <div style="display: flex; align-items:end" ;>
                        <a href={{item.link}}>{{item.name}}</a>
                        <div style=" flex-grow: 1;"></div>
                        <form class="delete-item-form"
                            onsubmit="return confirm('Do you really want to delete the item?');"
                            action="{% url 'lists:delete_item' list.id %}" method="post">
                            <input type="hidden" id="delete_item{{forloop.counter}}" name="item" value="{{item.id}}">
                            {% csrf_token %}
                            <input class="delete-button" type="submit" value="x">
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <form class="add-item-form" action="{% url 'lists:create_item' list.id %}" method="post">
            <h3>Add new item</h3>
            {% csrf_token %}
            <input type="text" id="item_name" name="item_name" maxlength="100" placeholder="Item name">
            <input type="text" id="item_link" name="item_link" maxlength="255" placeholder="Item link">
            <input class="add-item-btn" type="submit" value="Add Item">
        </form>
    </div>
</body>

</html>