{% extends "lists/base.html" %}
{% block content %}
  <div class="col-6 offset-3" style="font-family: var(--font)">
    <div style="margin-left: 10px;
                bottom: 0;
                font-size: 28pt;
                color: var(--primary-color)">listiamo</div>
    <div class="rounded"
         style="position: relative;
                top: -15px;
                background-color: var(--terziary-color)">
      <div style="font-size: 20px;
                  text-align: center;
                  color: var(--background-color)">a simple way to create lists with your friends.</div>
    </div>
  </div>
  <div class="row column-gap-2">
    <div class="col-5 offset-2 rounded"
         style="background-color: var(--primary-color);
                padding: 10px 10px 10px 10px;
                font-size: 14px">
      Create a new list and share the link to your friends.
      <br />
      Be careful: if you lose the link, you lose the list!
      <br />
      <br />
      Lists get destroyed after a month none uses them.
    </div>
    <form action="{% url 'lists:create_list' %}"
          method="post"
          class="rounded col-3 justify-content-center flex-column d-flex"
          style="background-color: var(--secondary-color)">
      <div style="margin: 4px; color: black; font-family: var(--font)">create a new list</div>
      {% csrf_token %}
      <input class="form-control-sm shadow-none input-field"
             style="position: relative;
                    top: -7px"
             type="text"
             name="list_name"
             placeholder="list name" />
      <button type="submit" class="form-btn btn">create</button>
    </form>
  </div>
{% endblock %}
